.connect-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: $mainFont;
  font-weight: 7;
  font-size: 20px;
  line-height: 46px;
  &__link {
    color: white;
    display: flex;
    gap: 50px;
  }
}
.square {
  display: inline-block;
  width: 46px;
  transition: all 0.8s;
  height: 46px;
  border-radius: 3px;
  z-index: 1;
  position: relative;
  background: url("../img/graphic/contact-us-btn.jpg");
}

.arrow::after {
  content: "";
  transition: all 0.5s;
  position: absolute;
  top: 0;
  background: url('../img//graphic/Arrow.svg') center no-repeat;
  left: -20px;
  width: 38px;
  height: 46px;
  z-index: 2;
}

@media screen and (min-width: 993px) {
  .connect-btn:hover .square {
    transform-origin: right;
    transform: scale(1.5, 0.85);
  }
  .connect-btn:hover .arrow::after {
    transform: translate(10%) scale(1, 1);
    transform-origin: left;
    left: 0px;
  }
}

@media (max-width: 768px) {
  .connect-btn {
    font-size: 17px;

    &__link {
      gap: 40px;
    }
  }
}

@media (max-width: 400px) {
  .connect-btn {
    font-size: 14px;
    line-height: 36px;
    &__link {
      gap: 30px;
    }
  }
  .square {
    width: 36px;
    height: 36px;
  }

  .arrow::after {
    content: "";
    height: 36px;
    width: 24px;
    left: -10px;
    background: url('../img//graphic/Arrow.svg') center no-repeat;
    background-size: 24px;
  }
}

.button-block-link {
  display: inline-block;
}
