.trust__design-1 {
    width: 143px;
    height: 238px;
    @media(max-width: 768px){
        width: 117px;
    height: 194px;
    }
    @media(max-width: 480px) {
        width: 60px;
    height: 100px;
    }
}
.trust__design-2 {
    width: 250px;
    height: 205px;
    @media(max-width: 768px){
        width: 178px;
    height: 145px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 82px;
    }
}

.trust__design-3 {
    width: 250px;
    height: 197px;
    @media(max-width: 768px){
        width: 166px;
    height: 131px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 78px;
    }
}

.trust__design-4 {
    width: 209px;
    height: 336px;
    @media(max-width: 768px){
        width: 100px;
    height: 161px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 161px;
    }
}

.trust__main-1 {
    width: 300px;
    height: 204px;
    @media(max-width: 768px){
        width: 192px;
    height: 130px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 68px;
    }
}
.trust__main-2 {
    width: 300px;
    height: 287px;
    @media(max-width: 768px){
        width: 187px;
    height: 179px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 95px;
    }
}

.trust__main-3 {
    width: 235px;
    height: 219px;
    @media(max-width: 768px){
        width: 192px;
    height: 176px;
    }
    @media(max-width: 480px) {
        width: 90px;
    height: 87px;
    }
}

.trust__main-4 {
    width: 285px;
    height: 256px;
    @media(max-width: 768px){
        width: 193px;
    height: 173px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 89px;
    }
}

.trust__copyright-1 {
    width: 279px;
    height: 241px;
    @media(max-width: 768px){
        width: 195px;
    height: 169px;
    }
    @media(max-width: 480px) {
        width: 124px;
    height: 108px;
    }
}
.trust__copyright-2 {
    width: 293px;
    height: 229px;
    @media(max-width: 768px){
        width: 204px;
    height: 161px;
    }
    @media(max-width: 480px) {
        width: 122px;
    height: 96px;
    }
}

.trust__copyright-3 {
    width: 223px;
    height: 281px;
    @media(max-width: 768px){
        width: 134px;
    height: 169px;
    }
    @media(max-width: 480px) {
        width: 95px;
    height: 120px;
    }
}

.trust__copyright-4 {
    width: 274px;
    height: 223px;
    @media(max-width: 768px){
        width: 157px;
    height: 127px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 81px;
    }
}


.trust__it-1 {
    width: 250px;
    height: 198px;
    @media(max-width: 768px){
        width: 194px;
    height: 154px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 80px;
    }
}
.trust__it-2 {
    width: 200px;
    height: 278px;
    @media(max-width: 768px){
        width: 162px;
    height: 224px;
    }
    @media(max-width: 480px) {
        width: 93px;
    height: 129px;
    }
}

.trust__it-3 {
    width: 170px;
    height: 305px;
    @media(max-width: 768px){
        width: 115px;
    height: 206px;
    }
    @media(max-width: 480px) {
        width: 60px;
    height: 107px;
    }
}

.trust__it-4 {
    width: 250px;
    height: 198px;
    @media(max-width: 768px){
        width: 175px;
    height: 139px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 80px;
    }
}




.trust__marketing-1 {
    width: 280px;
    height: 166px;
    @media(max-width: 768px){
        width: 197px;
    height: 117px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 60px;
    }
}
.trust__marketing-2 {
    width: 185px;
    height: 296px;
    @media(max-width: 768px){
        width: 125px;
    height: 200px;
    }
    @media(max-width: 480px) {
        width: 60px;
    height: 96px;
    }
}

.trust__marketing-3 {
    width: 250px;
    height: 187px;
    @media(max-width: 768px){
        width: 196px;
    height: 147px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 75px;
    }
}

.trust__marketing-4 {
    width: 250px;
    height: 261px;
    @media(max-width: 768px){
        width: 188px;
    height: 197px;
    }
    @media(max-width: 480px) {
        width: 100px;
    height: 104px;
    }
}

